@font-face {
    font-family: "digital-7 (italic)";
    src: url("../src/fonts/digital-7 (italic).ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);


.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.counter {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    font-family: "digital-7 (italic)";
    font-size: 50px;
}

.canvas {
    background: black;
}


