@font-face {
    font-family: "digital-7 (italic)";
    src: url("../src/fonts/digital-7 (italic).ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal;
}

@font-face {
    font-family: "Yahfie Heavy";
    src: url("../src/fonts//20686.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.counter {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    font-family: "digital-7 (italic)";
    font-size: 50px;
}

.canvas {
    background: black;
}

.pause-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    color: white;
    font-family: "digital-7 (italic)";
    font-size: 3rem;
    border: 2px solid red;
}

.pause-screen__item {
    font-size: 1.5rem;
    font-family: "digital-7 (italic)";
    cursor: pointer;
    transition: color 1s;
}

.pause-screen__item:hover {
    color: red;
}


