@font-face {
    font-family: "digital-7 (italic)";
    src: url("../src/fonts/digital-7 (italic).ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal;
}

@font-face {
    font-family: "Yahfie Heavy";
    src: url("../src/fonts//20686.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.counter {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    font-family: "digital-7 (italic)";
    font-size: 50px;
}

.canvas {
    background: black;
}

.pause-screen {
    
}


