* {
    font-size: 14px;
    font-family: 'Lato',sans-serif;
}

body {
    background-color: #c0cbe4;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,300,100italic');

.menu-container {
    position: relative;
    top: -50%;
    height: 50%;
    width: 40%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    transform: translateY(130%);
    transition: all 1s;
}


.menu-item {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid rgb(139, 138, 194);

    font-size: 1rem;
    color: black;
    transition: all 0.8s cubic-bezier(.2, 0, 0, 1);
}

.menu-item:hover {
    background: radial-gradient(#f0cbcb, #2F8FD8);
    
    width: 80%;
    border-radius: 20%;
    font-size: 1.5rem;
}

.result-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    border: 1px solid black;

    background-color: #f9f9f9;
    background-image:linear-gradient(#4C596C, transparent 1px);
    background-size: 1.5em 1.5em;  
    box-shadow: 1px 1px 2px rgba(0,0,0,.2), -1px -1px 2px rgba(0,0,0,.2);
}


.result-item {
    display: flex;
    justify-content: space-between;  
}

.result-item > div {
    font-family: "digital-7 (italic)";
    font-size: 3rem;
}





:root{
    --height: 3em;
    --bgr: rgb(64, 64, 64);
}


.menu-btn-container {
    display: flex;
    justify-content: center;
}

.toMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: white;
    background: var(--bgr);
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    box-shadow: 0.5em 0.5em 0.5em lightgrey;
    transition: box-shadow ease 0.1s;
    z-index: 9;
}

.toMenu:after, 
.toMenu:before{
    content: '';
    position: relative;
    transition: all ease-in-out 0.1s;
    top: 0px; left: 0px;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: var(--bgr);
    opacity: 0;
    z-index: -5;
}

.toMenu:hover{
    transition: box-shadow linear 0.1s;
    box-shadow: none;
}
.toMenu:after{
    transform: rotate(60deg) translateX(calc(-2 * var(--height)));
}

.toMenu:before{
    transform: rotate(-60deg) translateX(calc(2 * var(--height)));
    transition-delay: 0.1s;
}

.toMenu:hover:after,
.toMenu:hover:before{
    content: '';
    position: absolute;
    top: 0px; left: 0px;
    transition: all ease-in-out .2s;
    height: calc(1 * var(--height));
    width: calc(2 * 0.866 * var(--height));
    background: var(--bgr);
    opacity: 1;
    z-index: -5;
}

.toMenu:hover:after{
    transform: rotate(60deg) translateX(0);
    
}

.toMenu:hover:before{
    transform:  rotateZ(-60deg) translateX(0px);
    transition-delay: 0.1s;
}

.toMenu:active:before,
.toMenu:active:after{
    transform: rotateZ(0deg);
}

.toMenu:active:before{
    transition-delay: .1s;
}